### Options for configuring rss2gmail ###

# Program Options:
FEEDFILE_PATH = "feed.txt" # Path to the feedfile:
ARCHIVE_PATH = "archive" # Path to the Folder where we store the loaded items:

# GMAIL OPTIONS:
GMAIL_USER = ''  # set GMAIL username here
GMAIL_PASS = ''  # set GMAIL password here

MAIN_GMAIL_FOLDER  = "RSS"     # Change the default imap folder, Mainfolder=INBOX
IMAGES_AS_ATTACHMETNS = False # Add images as attachments (offline)
USE_IMAGES = 0 # 0...disable; 1...enabled, 2...as attachments
SUMMARIZE = 0 # 0...disabled; other values means after which char. it should stop(Warning: could a little bit higher because it waits for the end of the sentence)

# FEED Options:
ADD_ARCHIVE_NEW_FEED  = True  # Add links to archive when adding a new feed?
DEFAULT_EMAIL_FROM = None # The email address messages are from by default(useful to always show images in the gmail-android-app)
